@import url("../__photo-grid/photo-grid__item/photo-grid__item.css");


.photo-grid {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 16px;
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
}

@media (min-width : 768px) and (max-width : 1279px) {
    .photo-grid {
      padding-top: 64px;
      padding-left: 24px;
      padding-right: 24px;
    }
}
@media (min-width : 375px) and (max-width : 767px) {
  .photo-grid {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width : 320px) and (max-width : 374px) {
  .photo-grid {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}